# MariaDB 10.1 repository list - created 2017-05-11 22:58 UTC
# http://downloads.mariadb.org/mariadb/repositories/
deb [arch=amd64,i386] http://lon1.mirrors.digitalocean.com/mariadb/repo/10.1/ubuntu xenial main
deb-src http://lon1.mirrors.digitalocean.com/mariadb/repo/10.1/ubuntu xenial main